:root {
    --primary: #5e3bee;
    --heading-color: #282938;
    --bg-shade: #f5fcff;
    --github: #e62872;
    --darkblue: #1c1e53;
    --black: #000;
    --white: #fff;
}

.hero-section{
    width: 100%;
    background-color: var(--bg-shade);
    padding-bottom: 4em;
    padding-top: 2em;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 468px;
    margin: 0 auto;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
}

.hero-intro{
    text-align: center;
    padding: .5em;
    font-size: 1rem;
    border: 1px solid var(--primary);
    border-radius: 25px;
}

.hero-intro:hover{
    color: var(--primary);
    font-weight: bold;
}

.hero-title{
    text-align: center;
    font-size: 2.5rem;
}

.hero-info{
    text-align: center;
    font-size: 1rem;
    opacity: .75;
}

.hero-image{
    width: 100%;
    min-width: 250px;
    margin-top: 1em;
}

/* Media Queries*/
@media(min-width: 468px){
    .container{
        max-width: 767px;
    }

    .hero-intro{
        font-size: 1.25rem;
    }

    .hero-title{
        font-size: 2.75rem;
    }

    .hero-info{
        font-size: 1rem;
    }

    .btn-primary{
        font-size: 1.5rem;
    }
}

@media(min-width:768px){
    .container{
        max-width: 768px;
    }

    .hero-intro{
        font-size: 1.45rem;
    }

    .hero-title{
        font-size: 3rem;
    }

    .hero-info{
        font-size: 1.25rem;
    }
}

@media(min-width:1024px){
    .container{
        max-width: 1024px;
        flex-direction: row;
    }

    .hero-content{
        align-items: start;
        justify-content: center;
        margin-left: 1.5em;
        padding: 1em;
    }

    .hero-intro{
        text-align: left;
        font-size: 1.5rem;
        border: none;
    }

    .hero-title{
    text-align: left;
    font-size: 3.5rem;
    }

    .hero-info{
    text-align: left;
    font-size: 1.25rem;
    }
}

@media(min-width: 1444px){
    .container{
        max-width: 1444px;
    }

    .hero-intro{
        font-size: 1.65rem;
    }

    .hero-title{
        font-size: 4rem;
    }

    .hero-info{
        font-size: 1.25rem;
    }
}