:root {
    --primary: #5e3bee;
    --heading-color: #282938;
    --bg-shade: #f5fcff;
    --github: #e62872;
    --darkblue: #1c1e53;
    --black: #000;
    --white: #fff;
}

body{
    background: #fff;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Arial, sans-serif, Poppins;
}

a{
    color: var(--darkblue);
    text-decoration: none;
}

.btn{
    padding: 1em;
    font-size: 1rem;
    border-radius: 5px;
    border: 0;
    margin: .25em;
}

i{
    font-size: 2rem;
    color: var(--darkblue);
}

i:hover{
    color: var(--primary);
    cursor: pointer;
}

li{
    list-style-type: none;
}

.btn-primary{
    background: var(--primary);
    color: var(--white);
}

.btn-secondary{
    background: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-github{
    background: var(--github);
    color: var(--white);
}

.btn-github:hover{
    background: var(--white);
    color: var(--github);
    border: 1px solid var(--github);
    cursor: pointer;
}

.btn-secondary:hover{
    background: var(--primary);
    cursor: pointer;
}

.btn-secondary a:hover{
    color: var(--white);
    cursor: pointer;
}

.btn-primary:hover{
    background: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
    cursor: pointer;
}

p{
    font-size: 1rem;
    line-height: 1.5;
    color: var(--darkblue);
}

h1{
    font-size: 2rem;
    font-weight: 700;
    color: var(--heading-color);
    padding: 0;
    margin: 0;
}

h3{
    font-size: 1.25rem;
    color: var(--heading-color);
    font-weight: 600;
    padding: 0;
    margin-bottom: 1em;
}

h2{
    font-size: 1.5rem;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 100%;
}

.logo{
    font-size: 1.5rem;
    font-weight: 800;
}

.logo-highlight{
    color: var(--primary);
}
